@using MyAnimeVault.Domain.Models
@model AnimeDetailsViewModel

@{
    ViewData["Title"] = "Anime Details";
}

<div class="text-center">
    <div class="anime-details-container">
        <div class="image-and-rankinginfo-container">
            <img src="@Model.Anime.Picture?.Large" alt="@Model.Anime.Title" height="400" width="300"/>

            <div class="rankinginfo-container">
                <div class="title-and-season">
                    <h1>
                        @if(Model.Anime.AlternativeTitles != null && !String.IsNullOrEmpty(Model.Anime.AlternativeTitles?.en))
                            @Model.Anime.AlternativeTitles.en
                        else
                            @Model.Anime.Title
                    </h1>
                    <div class="season-and-mediatype-container">
                        @if(Model.Anime.StartSeason != null)
                        {
                            <p class="season">@(char.ToUpper(Model.Anime.StartSeason.Season[0]) + Model.Anime.StartSeason.Season.Substring(1)) @Model.Anime.StartSeason.Year</p>
                            <p class="separator">|</p>
                        }
                        <p class="mediatype">
                            @if(Model.Anime.MediaType.Length < 4)
                                @Model.Anime.MediaType.ToUpper()
                            else
                                @(char.ToUpper(Model.Anime.MediaType[0]) + Model.Anime.MediaType.Substring(1))
                        </p>
                        @if(Model.Anime.Studios.Count > 0)
                        {
                            <p class="separator">|</p>
                            <p>@Model.Anime.Studios.First().Name</p>
                        }
                    </div>
                </div>

                <div class="ranking-info">
                    @if(Model.Anime.MeanScore != null)
                    {
                        <p class="score"><i class="fa-solid fa-star"></i> @Model.Anime.MeanScore </p>
                    }
                    else
                    {
                        <p class="score"><i class="fa-solid fa-star"></i> No score </p>
                    }
                    <p class="separator">|</p>
                    @if(Model.Anime.Rank != null)
                    {
                        <p class="rank"> Ranked #@Model.Anime.Rank</p>
                    }
                    else
                    {
                        <p class="rank"> Unranked</p>
                    }
                    <p class="separator">|</p>
                    <p class="popularity"> Popularity #@Model.Anime.Popularity</p>
                </div>

            </div>
        </div>

        <div class="anime-synopsis-container">
            <h3>Synopsis</h3>
            <div class="synopsis-lines-container">
                @foreach(var line in Model.Anime.Synopsis.Split('\n'))
                {
                    <p>@line</p>
                
                }
            </div>
        </div>

        <div class="opening-and-ending-info-container">
            <div class="openings-list-container song-list-container">
                <h3>Opening Themes</h3>
       
                <ul class="song-list">
                    @if(Model.Anime.OpeningSongs.Any())
                    {
                        @foreach(OpeningSong song in Model.Anime.OpeningSongs)
                        {
                            <li>
                                <p>@song.Text</p>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>No openings</p>
                        </li>
                    }
                </ul>
            </div>

            <div class="endings-list-container song-list-container">
                <h3>Ending Themes</h3>
                <ul class="song-list">
                    @if(Model.Anime.EndingSongs.Any())
                    {
                        @foreach(EndingSong song in Model.Anime.EndingSongs)
                        {
                            <li>
                                <p>@song.Text</p>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>No endings</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


