@using MyAnimeVault.Domain.Models
@model Anime

@{
    ViewData["Title"] = "Anime Details";
}

<div class="text-center">
    <div class="anime-details-container">
        <div class="image-and-rankinginfo-container">
            <img src="@Model.Picture.Large" alt="@Model.Title" height="400" width="300"/>

            <div class="rankinginfo-container">
                <div class="title-and-season">
                    <h1>
                        @if(Model.AlternativeTitles != null && !String.IsNullOrEmpty(Model.AlternativeTitles.en))
                            @Model.AlternativeTitles.en
                        else
                            @Model.Title
                    </h1>
                    <div class="season-and-mediatype-container">
                        @if(Model.StartSeason != null)
                        {
                            <p class="season">@(char.ToUpper(Model.StartSeason.Season[0]) + Model.StartSeason.Season.Substring(1)) @Model.StartSeason.Year</p>
                            <p class="separator">|</p>
                        }
                        <p class="mediatype">
                            @if(Model.MediaType.Length < 4)
                                @Model.MediaType.ToUpper()
                            else
                                @(char.ToUpper(Model.MediaType[0]) + Model.MediaType.Substring(1))
                        </p>
                    </div>
                </div>

                <div class="ranking-info">
                    @if(Model.MeanScore != null)
                    {
                        <p class="score"><i class="fa-solid fa-star"></i> @Model.MeanScore </p>
                    }
                    else
                    {
                        <p class="score"><i class="fa-solid fa-star"></i> No score </p>
                    }
                    <p class="separator">|</p>
                    @if(Model.Rank != null)
                    {
                        <p class="rank"> Ranked #@Model.Rank</p>
                    }
                    else
                    {
                        <p class="rank"> Unranked</p>
                    }
                    <p class="separator">|</p>
                    <p class="popularity"> Popularity #@Model.Popularity</p>
                </div>

                <div class="media-info">

                </div>

            </div>
        </div>

        <div class="anime-synopsis-container">
            <h3>Synopsis</h3>
            <p>@Model.Synopsis</p>
        </div>

        <div class="opening-and-ending-info-container">
            <div class="openings-list-container song-list-container">
                <h3>Opening Themes</h3>
       
                <ul class="song-list">
                    @if(Model.OpeningSongs != null)
                    {
                        @foreach(OpeningSong song in Model.OpeningSongs)
                        {
                            <li>
                                <p>@song.Text</p>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>No openings</p>
                        </li>
                    }
                </ul>
            </div>

            <div class="endings-list-container song-list-container">
                <h3>Ending Themes</h3>
                <ul class="song-list">
                    @if(Model.EndingSongs != null)
                    {
                        @foreach(EndingSong song in Model.EndingSongs)
                        {
                            <li>
                                <p>@song.Text</p>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <p>No endings</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


