@using MyAnimeVault.Domain.Models.DTOs;
@model List<UserAnimeDTO>

@{
    ViewData["Title"] = "MyVault";
}

<div class="text-center">
    <ul class="user-anime-list">
        @if(Model == null || Model.Count == 0)
        {
            <li>
                <p>Your list is empty. Go watch some anime!</p>
            </li>
        }
        else
        {
            @foreach(UserAnimeDTO anime in Model)
            {
                <li class="user-anime-listitem">
                    <a class="user-anime-link" asp-area="" asp-action="AnimeDetails" asp-controller="Home" asp-route-id="@anime.AnimeId">
                        <img src="@anime.Poster?.Medium" alt="@anime.Title" height="200" width="160">
                        <div class="user-anime-details-container">
                            <div class="user-anime-details-titleandmediatype-container">
                                <h4 class="user-anime-title">@anime.Title</h4>
                                <div class="user-anime-details-mediatype-and-startseason">
                                    @if(anime.MediaType.Length < 4)
                                    {
                                        <p>@anime.MediaType.ToUpper()</p>
                                    }
                                    else
                                    {
                                        <p>@(char.ToUpper(anime.MediaType[0]) + anime.MediaType.Substring(1))</p>
                                    }

                                    @if (anime.StartSeason != null)
                                    {
                                        <p>, @(char.ToUpper(anime.StartSeason.Season[0]) + anime.StartSeason.Season.Substring(1)) @anime.StartSeason.Year</p>
                                    }
                                    
                                </div>
                            </div>
                            <div class="user-anime-details-episodeinfo">
                                <div class="progress-bar" data-watched="@anime.NumEpisodesWatched" data-total="@anime.TotalEpisodes"></div>
                                <div class="user-anime-details-ratingandepisodeswatched-container">
                                    <p><i class="fa-solid fa-star"></i> @anime.Rating</p>
                                    <p>@anime.NumEpisodesWatched / @anime.TotalEpisodes ep</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="user-anime-buttons-container">
                        
                    </div>
                </li>
            }
        }
    </ul>
</div>
